upstream app_server {
    server 127.0.0.1:{{ webapp_port }} fail_timeout=0;
}

server {
    listen {{ http_port }};
    server_name {{ webapp_domain }};
    access_log /var/log/nginx/{{ webapp_domain }}.access.log;
    error_log /var/log/nginx/{{ webapp_domain }}.error.log;
    keepalive_timeout 5;

    location /static/ {
        root {{ webapp_dir }};
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://app_server;
        proxy_read_timeout 1200;
    }
}
