[program:webapp]
command={{ webapp_venv }}/bin/gunicorn --name webapp -w 3 -t 3600 -b {{ webapp_host }}:{{ webapp_port }} wsgi:application
directory={{ webapp_dir }}
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/webapp.gunicorn.log
redirect_stderr=True
